
<mat-accordion>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
       Note
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput #text value={{input}}></textarea>
      </mat-form-field>
    </form>
    <div class="row">
    <div class="col-10">
      <button class="extra" mat-raised-button color="warn" (click)="deleteNote(); text.value=''">Delete Note</button>
    </div>
    <div class="col-2">
      <button class="extra" mat-raised-button color="primary" (click)="saveNote(text.value)">Save Note</button>
    </div>
  </div>
  </mat-expansion-panel>
</mat-accordion>
<br>