<h1 mat-dialog-title>Add Item</h1>
<div mat-dialog-content>
  <!-- <form> -->
  
    <mat-form-field appearance="fill">
      <mat-label>Item Type</mat-label>
      <input matInput type="text" [(ngModel)]="type" [matAutocomplete]="auto"  placeholder="Type" [formControl]="myControl" required>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  <br>
    <mat-form-field appearance="fill" (click)="loadNamesOfTypeSelected()">
      <mat-label>Nickname of item</mat-label>
      <input matInput type="text" [(ngModel)]="input" [matAutocomplete]="auto1" placeholder="Nickname" required >
      <mat-autocomplete #auto1="matAutocomplete">
      <mat-option *ngFor="let name of inputOptions" [value]="name">
        {{name}}
      </mat-option>
      </mat-autocomplete>
    
    </mat-form-field>
  <br>
<!-- </form> -->
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="close()">Submit</button>
</div>

