<br>
<!-- R2: Options List-->
<div class="container">
  <div class="row">
    <div class="col-6">
      <h2><b>Summary:</b></h2>
      <p>Login methods and things you need to access this account</p>
    </div>
    <div class="col-6">
      <!-- R2.1: Add Options Button-->
      <button mat-raised-button color="primary" type="button" name="button" (click)="CreateOption()">+ Add Option</button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- R2.2: Load Login Methods-->
  <div class="row">
    <ul role="list">
      <li *ngFor="let option of options; let index = index;">
        <div class="col-12">
          <!-- R2.2.1: Remove login Method button-->
          <button class="extra" mat-button color="warn" (click)="removeTab(index)">X</button>
          <b class="title">Option {{ index+1 }}</b>
          <!-- R2.2.2: Add login Method button-->
          <!-- R2.2.2.1: Add login method modal-->
        <button class="extra" mat-flat-button color="primary" (click)="onCreate(index)">+ Add</button>
        <!-- R2.2.3: Recovery login Method Checkbox-->
        <mat-checkbox class="extra2" (change)="setRecovery($event.checked,index)" [checked]="options[index].recovery"   color="primary">Recovery</mat-checkbox>
        </div>
        <ul>
          <br>
        <li class="col-12 decoration" *ngFor="let item of options[index].needed; let i= index">
          {{ options[index].needed[i] }}
          <button class="extra2" mat-mini-fab color="warn" (click)="removeLoginItemNeeded(index, i)">x</button>
        </li>
        <br>
        </ul>
      </li>
    </ul>
  </div>
</div>
