<div class="container">
  <container-element [ngSwitch]="currentPage">
    <some-element *ngSwitchCase=0>
    <!-- Load Devices Page -->
    <app-device
      [accountgraph]="accountgraph"
      [tabs]="devicesKeys"
      (getAccountgraph)="getAccountgraph($event)"
      (getDeviceKeys)="getDeviceKeys($event)">
    </app-device>
    </some-element>

    <some-element *ngSwitchCase=1>
    <!-- Load Password Manager Page -->
    <app-passwordmanager
      [accountgraph]="accountgraph"
      [tabs]="passwordmanagerKeys"
      (getAccountgraph)="getAccountgraph($event)"
      (getPasswordmanagerKeys)="getPasswordmanagerKeys($event)">
    </app-passwordmanager>
    </some-element>
    
  </container-element>


</div>



<router-outlet></router-outlet>
