<div class="container">
  <container-element [ngSwitch]="currentPage">
    <some-element *ngSwitchCase=0>
    <!-- Load Devices Page -->
    <app-device
      [accountgraph]="accountgraph"
      [tabs]="devicesKeys"
      (getAccountgraph)="getAccountgraph($event)"
      (getDeviceKeys)="getDeviceKeys($event)">
    </app-device>
    </some-element>

    <some-element *ngSwitchCase=1>
    <!-- Load Password Manager Page -->
    <app-passwordmanager
      [accountgraph]="accountgraph"
      [tabs]="passwordmanagerKeys"
      (getAccountgraph)="getAccountgraph($event)"
      (getPasswordmanagerKeys)="getPasswordmanagerKeys($event)">
    </app-passwordmanager>
    </some-element>

    <some-element *ngSwitchCase=2>
      <!-- Load Emails Page -->
      <app-email
        [accountgraph]="accountgraph"
        [tabs]="emailKeys"
        (getAccountgraph)="getAccountgraph($event)"
        (getEmailKeys)="getEmailKeys($event)">
      </app-email>
      </some-element>

      <some-element *ngSwitchCase=9>
        <!-- Load Passwords Page -->
        <app-password
          [accountgraph]="accountgraph"
          [tabs]="passwordKeys"
          (getAccountgraph)="getAccountgraph($event)"
          (getPasswordKeys)="getPasswordKeys($event)">
        </app-password>
        </some-element>
    
  </container-element>


</div>



<router-outlet></router-outlet>
