<div class="container">

  <div *ngIf="currentPage===0">
    <app-device
    [accountgraph]="accountgraph"
    [tabs]="devicesKeys"
    (getAccountgraph)="getAccountgraph($event)"
    (getDeviceKeys)="getDeviceKeys($event)"
    >
    </app-device>
  </div>
  <div *ngIf="currentPage===1">
    <app-passwordmanager
    [accountgraph]="accountgraph"
    [tabs]="passwordmanagerKeys"
    (getAccountgraph)="getAccountgraph($event)"
    (getPasswordmanagerKeys)="getPasswordmanagerKeys($event)"
    >
    </app-passwordmanager>
  </div>
</div>



<router-outlet></router-outlet>
