<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="push">
      <h2><u><b>Account Graphs</b></u></h2>
      <ol>
        <li><button mat-button color="primary" (click)="prepareToChangePage(0)">Devices</button></li>
        <li><button mat-button color="primary" (click)="prepareToChangePage(1)">Password Managers</button></li>
        <li><button mat-button color="primary" (click)="prepareToChangePage(2)">Emails</button></li>
        <li><button mat-button disabled><b>-Social Media</b></button></li>
        <li><button mat-button color="primary" (click)="prepareToChangePage(4)">Finance</button></li>
        <li><button mat-button color="primary" (click)="prepareToChangePage(5)">Shopping</button></li>
        <li><button mat-button color="primary" (click)="prepareToChangePage(6)">Entertainment</button></li>
        <li><button mat-button color="primary" (click)="prepareToChangePage(7)">Gaming</button></li>
        <li><button mat-button color="primary" (click)="prepareToChangePage(8)">Other</button></li>
        <li><button mat-button color="primary" (click)="prepareToChangePage(9)">Passwords Summary</button></li>
      </ol>
      <button mat-raised-button color="primary" (click)="prepareToChangePage(10)">Finish</button>
      <br>
    <br>
    <br>
    <button  mat-flat-button color="warn" (click)="startOver()">Start Again</button>
      
      
    </mat-sidenav>
    <mat-sidenav-content >
  
    <button mat-flat-button class="sidebarBtn" (click)="opened=!opened" aria-label="Open the side menu">☰</button>
  <div class="container" #target>
    <h1><b>{{profileTitle}}</b></h1>
      <h3>{{profileSlogan}}</h3>  
     <!-- R1: Add Profile Tabs-->
<button mat-raised-button color="primary" (click)="addTab()" >Add {{profileType}}</button>
<br>
<br>
<mat-tab-group animationDuration="0ms">
<mat-tab *ngFor="let tab of tabs; let index = index" [label]="profileType+' '+(index+1)+': '+accountgraph[tabs[index]].name">
  <ng-template matTabContent>
  <br>
  <br>
<!--START Nickname-->
  <!--R1.1 Input box to allow the user to set a nickname-->

  <div class="container">
    <!--Check if the user has set a nickname or not-->
    <div *ngIf="accountgraph[tabs[index]].name !== profileType; else elseBlock">
      <h2><b>Nickname for {{profileType + ' ' + (index+1)+':'}} </b> {{accountgraph[tabs[index]].name}}</h2>
      <button mat-raised-button color="primary" (click)="oldname=accountgraph[tabs[index]].name; accountgraph[tabs[index]].name=profileType; editing=true ">Edit</button>
    </div>
    <!--User has not set a nickname-->
    <ng-template #elseBlock>
      <h2><b>{{profileType}} Nickname</b></h2>
      <form #nicknameForm="ngForm" (ngSubmit)="updateName(nicknameForm.value,index); editing=false">
        <mat-form-field appearance="fill" floatLabel="always" class="questionbox">
        <mat-label>Choose a nickname for this device:</mat-label>
        <input matInput type="text" name="newname" ngModel placeholder="Nickname"  required>
        <mat-hint>E.g- Laptop1,WorkPhone2, AppleWatch1</mat-hint>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Confirm</button>
        <div *ngIf="editing">
        <button mat-raised-button color="warn" (click)="accountgraph[tabs[index]].name=oldname; oldname=this.profileType.toLowerCase()">Cancel</button>
      </div>
      </form>
    </ng-template>
  </div>
      <!--END Nickname-->
        <mat-divider></mat-divider>
        <!--START Login Methods Section-->
        <app-login-methods
        [key]="tabs[index]"
        [OriginalIncoming]="accountgraph[tabs[index]].incoming"
        [accountgraph]="accountgraph"
        (updateObject)="updateObject($event)"
        (createNewKey)="createNewKey($event)"
        ></app-login-methods>
    
        <!-- END Login Methods Section-->
    
    
        <mat-divider></mat-divider>
        <!--START Open Sessions Section-->
        <app-opensessions
        [key]="tabs[index]"
        [OriginalOpenSessions]="accountgraph[tabs[index]].opensessions"
        [accountgraph]="accountgraph"
        (updateObjectOpenSessions)="updateObjectOpenSessions($event)"
        (createNewKey)="createNewKey($event)"
        ></app-opensessions>
        <!--END Open Sessions Section-->
    
        <!--START Footer -->
        <br>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <app-notes
              [key]="tabs[index]"
              [current]="accountgraph[tabs[index]].note"
              (updateNote)="updateNote($event)">
            </app-notes>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <!-- R4: Remove Profile Button-->
              <button mat-raised-button color="warn" (click)="removeTab(index)" class="right">
                Delete {{profileType}}
              </button>
            </div>
          </div>
        </div>
        <!--END Footer -->
    
      </ng-template>
      </mat-tab>
    </mat-tab-group>
    <br>
    <mat-divider></mat-divider>  
    <br>
  <div class="row">
    <div class="col-6">
      <!-- R1: Add Profile Tabs-->
    <button mat-raised-button color="primary" (click)="addTab(); scroll(target)">Add {{profileType}}</button>
    </div>
    <div class="col-6"> <!-- R5: Next Option Section -->
      <button mat-raised-button color="primary" class="right" (click)="prepareToChangePage(4)">Next Section  ></button></div>
  </div>
    </div>
  </mat-sidenav-content>
  </mat-sidenav-container>
    